<% if collection.any? %>
  <ul class='item_list'>
    <% collection.each do | entry | %>
      <li>
        <div class="time_ago">
          <%= l entry.since, :format => :short %>
        </div>
        <div class="title">
          <%= link_to entry.title, public_entry_path(entry) %>
        </div>
        <div class="annotation">
          <%= raw entry.annotation %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
<% else %>
  <h2 class='empty'><%= t('no_any_entries') %></h2>
<% end %>
