<%= semantic_remote_form_for @subtask, :url => manage_issue_subtasks_path(parent) do |form| %>
  <%= form.inputs do %>
    <%= form.input :executor, :label => false, :collection => @subtask.executors_without_initiator %>
    <%= form.input :description, :label => false %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button t('add'), :button_html => {:class => "button add"} %>
    <li>
      <a href='#' class='cancel_link'>Отменить</a>
    </li>
  <% end %>
<% end %>
