<% if collection.any? %>
  <ul class='item_list'>
    <% collection.each do | task | %>
      <li class='balnk <%= "followed" if task.initiator.followers.include?(current_user) %>'>
        <div class="time_ago">
          <%= time_ago_in_words(task.updated_at) %> назад
        </div>

        <div class="title floatl">
          <!-- #TODO remove this stinky code-->
          <% if task.is_a?(Subtask) %>
            <%= link_to task.truncated_description, manage_news_entry_path(task.entry) %>
          <% else %>
            <%= link_to task.class.model_name.human, manage_news_entry_path(task.entry) %>
          <% end %>
        </div>

        <div class="entry_title">
          <%= composed_title(task.entry) %>
        </div>

        <br />

        <div class="state <%= task.state %>">
          <%= I18n.t "state_machine.task.state.#{task.state}" %>
        </div>

        <%= render :partial => 'manage/news/tasks/actions', :locals => {:task => task} if task.respond_to?(:fresh?) && task.fresh? %>

        <div class="participants">
          <%= render :partial => 'manage/news/followings/actions', :locals => {:task => task} if task.respond_to?(:fresh?) && task.fresh? %>
          <%= task.initiator %>
          <%= raw "&rarr; #{task.executor}" if task.executor %>
          <% if task.initiator.followers.any? %>
            <span class='candidates' title='Возможные исполнители'>
              <%= raw "&rarr; #{task.initiator.followers.map(&:name).join(', ')}" if task.respond_to?(:fresh?) && task.fresh? %>
            </span>
          <% end %>
        </div>

      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
<% else %>
  <h2 class='empty'><%= t('no_any_tasks') %></h2>
<% end %>
