<div class="content_wrapper with_sidebar">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовать</span>
        <%= entry.since ? l(entry.since) : "с момента публикации" %>
      </div>

      <% if entry.is_announce? %>
        <div>
          <span>Актуально до </span>
          <%= entry.actuality_expired_at ? l(entry.actuality_expired_at) : 'не указано' %>
        </div>
      <% end %>

      <div>
        <span>Каналы</span>
        <%= entry.channels.any? ? entry.channels.map(&:title).join(', ') : "не указаны" %>
      </div>
    </div>

    <%= presented_header entry %>

    <% if entry.slug.present? %>
      <h3 class='title'>
        <%= entry.slug %>
        <%= link_to 'перегенерировать', regenerate_slug_manage_news_entry_path(entry),
          method: :post, class: 'button simple' %>
      </h3>
    <% end %>

    <div class="body">
      <%= presented_html entry, :body %>
      <%= youtube_embed_for entry.youtube_code %>
    </div>

    <%= yield(:additional) %>
  </div>
</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">
    <div class="top_border"></div>

    <%= render :partial => 'lock_and_edit', :locals => {:entry => entry} %>

    <%= render :partial => 'tabs' %>

    <%= render :partial => 'sidebar_issues', :locals => {:entry => entry} %>

    <ul class='events'>
      <% @entry.events.each do | event | %>
        <li class='blank <%= "current" if event == @event %>'>
          <div class="time_ago margin-top">
            <%= time_ago_in_words(event.created_at) %> назад
          </div>

          <div class="executor">
            <% if false %>
              <% if event.task.is_a?(Subtask) %>
                <%= event.task.initiator %> &rarr;
              <% end %>
              <%= event.task.executor %>
            <% else %>
              <%= event.user %>
            <% end %>
          </div>

          <div href="#" class='title margin-bottom'>
            <span class="state <%= event.event %>">
              <%= t "state_machine.task.state_for_activity.#{event.event}" %>
            </span>
            <%= link_to 'версия', manage_news_event_path(event), :class => 'version_link' if event.serialized_entry %>
            <span class="description">
              <%= event.task.description %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
