<div class="content_wrapper with_sidebar">
  <div class="article">

    <%= semantic_nested_form_for @entry, :as => :entry, :url => manage_news_entry_path(@entry) do |form| %>

      <div class="top_stuff">
        <div>
          <span>Опубликовать</span>
          <ol>
            <%= form.input :since, :label => false, :as => :datetime_picker %>
          </ol>
        </div>
        <div>
          <span>Каналы</span>
          <ol>
            <%= form.input  :channels,
                            :label => false,
                            :as => :select,
                            :multiple => true,
                            :collection => available_channels,
                            :member_label => ->(c) { ("&nbsp;" * c.ancestry_depth * 2).html_safe + c.title},
                            :disabled => disabled_channels
            %>
          </ol>
        </div>
      </div>


      <%= javascript_include_tag "esp-ckeditor/application" %>

      <%= form.inputs :class => "inputs common_fields" do %>
        <%= form.input :title, :as => :string, :input_html => { :class => "focus_first" } %>
        <%= form.input :annotation, :as => :ckeditor, :input_html => { :height => 100 } %>
        <%= form.input :body, :as => :ckeditor %>
        <%= form.input :source %>
        <%= form.input :source_link %>
        <%= render :partial => 'attached_file', :locals => { :form => form } %>
      <% end %>

      <%= form.buttons :class => "buttons hidden" do %>
        <%= form.commit_button %>
      <% end %>

      <%= render :partial => "event_entry_fields", :locals => { :form => form } if @entry.is_a?(EventEntry) %>
    <% end %>
  </div>

</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">

    <div class="top_border"></div>

    <%= link_to t('save_entry'), "#", :class => 'button positive_button', :id => "commit_form_entry" %>
    <%= link_to t('cancel'), manage_news_entry_path(@entry), :class => 'button cancel', :id => "cancel_form_entry" %>

    <%= semantic_form_for @entry, :as => :entry, :url => unlock_manage_news_entry_path(@entry), :html => { :method => :post, :class => "hidden" } do | form | %>
      <%= form.buttons :class => "buttons" do %>
        <%= form.commit_button t('cancel') %>
      <% end %>
    <% end %>
  </div>
<% end %>

