<% if collection.length.zero? %>
  <h2 class='empty'><%= t('no_any_entries') %></h2>
<% else %>
  <ul class='item_list'>
    <% collection.each do | entry | %>
      <li>
        <div class="time_ago">
          <%= time_ago_in_words(entry.updated_at) %> назад
        </div>

        <% if entry.images.any? %>
          <%= image_for entry.images.first, :width => 100, :height => 100, :title => true %>
        <% end %>

        <div class="title">
          <%= link_to composed_title(entry), manage_news_entry_path(entry) %>
        </div>

        <div class="state <%= entry.state %>">
          <%= I18n.t "state_machine.entry.state.#{entry.state}" %>
        </div>

        <div class="participants">
          <%= entry.initiator %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
<% end %>
