<div class="content_wrapper">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовано</span>
        <%= l entry.since, :format => :short %>
      </div>
    </div>

    <%= presented_header entry %>

    <%= image_for entry, :width => 100, :height => 100 %>

    <div class="annotation">
      <%= presented_html entry, :annotation %>
    </div>

    <div class="body">
      <%= presented_html entry, :body %>
    </div>

    <% if entry.source.present? %>
      <div class="source_info">
        Источник: <%= link_to entry.source, entry.source_link %>
      </div>
    <% end %>

    <%= yield(:additional) %>
  </div>
</div>

