<div class="content_wrapper">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовано</span>
        <%= l entry.since, :format => :short %>
      </div>

      <% if entry.is_announce? %>
        <div>
          <span>Актуально до </span>
          <%= l entry.actuality_expired_at, :format => :short %>
        </div>
      <% end %>
    </div>

    <%= presented_header entry %>

    <%= image_for entry.images.first, :width => 100, :height => 100 if entry.images.any? %>

    <div class="annotation">
      <%= presented_html entry, :annotation %>
    </div>

    <div class="body">
      <%= presented_html entry, :body %>
    </div>

    <% entry.images.shift %>
    <% unless entry.images.blank? %>
      <h3><%= t('gallery') %></h3>
      <div class="gallery_wrapper">
        <% entry.images.each do |image| %>
          <%= image_for image, :width => 100, :height => 100, :title => true %>
        <% end %>
      </div>
    <% end %>

    <% if entry.source.present? %>
      <div class="source_info">
        Источник: <%= link_to entry.source, entry.source_link, :target => entry.new_tab? ? '_blank' : nil %>
      </div>
    <% end %>

    <% if entry.author.present? %>
      <div class="author_info">
        Автор: <%= entry.author %>
      </div>
    <% end %>

    <%= yield(:additional) %>
  </div>
</div>
