<div class="content_wrapper with_sidebar">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовать</span>
        <%= l entry.since if entry.since %>
      </div>

      <div>
        <span>Переместить в архив</span>
        <%= l entry.until if entry.until %>
      </div>

      <div>
        <span>Каналы</span>
        <%= entry.channels.map(&:title).join(', ') %>
      </div>
    </div>

    <%= presented_header entry %>

    <div class="annotation">
      <%= presented_html entry, :annotation %>
    </div>

    <div class="body">
      <%= presented_html entry, :body %>
    </div>
  </div>
</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">
    <div class="top_border"></div>

    <%= render :partial => 'lock_and_edit', :locals => {:entry => entry} %>

    <%= render :partial => 'tabs' %>

    <%= render :partial => 'sidebar_issues', :locals => {:entry => entry} %>

    <ul class='events'>
      <% @entry.events.each do | event | %>
        <li class='blank <%= "current" if event == @event %>'>
          <div class="time_ago margin-top">
            <%= time_ago_in_words(event.created_at) %> назад
          </div>

          <div class="executor">
            <% if event.task.is_a?(Subtask) %>
              <%= event.task.initiator %> &rarr;
            <% end %>

            <%= event.task.executor %>
          </div>

          <div href="#" class='title margin-bottom'>
            <span class="state <%= event.event %>">
              <%= t "state_machine.task.state_for_activity.#{event.event}" %>
            </span>
            <%= link_to 'версия', event_path(event), :class => 'version_link' if event.versioned_entry %>
            <span class="description">
              <%= event.task.description %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
