<div class="content_wrapper">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовано</span>
        <%= l entry.since, :format => :short %>
      </div>
    </div>

    <%= presented_header entry %>

    <% if entry.file_url? %>
      <%= image_tag entry.file_url %>
    <% end %>

    <div class="annotation">
      <%= presented_html entry, :annotation %>
    </div>

    <div class="body">
      <%= presented_html entry, :body %>
    </div>

  </div>
</div>

