<div class="show_actions_wrapper <%= position %>">
  <ul class="entry_actions">
    <% if @current_user != @entry.initiator %>
      <% if @current_user.subscribed?(@entry.initiator) %>
        <li><%= link_to t('unsubscribe_to_news_from_this_author'), delete_subscribe_path(@entry), :method => :delete, :class => :button %></li>
      <% else %>
        <li><%= link_to t('subscribe_to_news_from_this_author'), subscribe_path(@entry), :class => :button %></li>
      <% end %>
    <% end %>

    <li>
      <%= link_to t('edit'), edit_entry_path(@entry), :class => "button" %>
    </li>

    <% @entry.state_events_for(current_user).each do |event| %>
      <li>
        <%= semantic_form_for :event, :url => entry_events_path(@entry) do |form| %>
          <%= form.inputs do %>
            <%= form.input :kind, :as => :hidden, :value => event %>
            <%= form.input :text, :as => :text %>
          <% end %>
          <%= form.buttons do %>
            <%= form.commit_button t(event.to_s), :button_html => { :class => "button" } %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="clear_left">
      <%= render_statistic @entry %>
      <%= link_to "история изменений", "#", :class => "entry_history" if @entry.events.count > 1 %>
    </li>
  </ul>
</div>

