<div class="entry_actions_wrapper <%= position %>">
  <ul class="entry_actions">
    <li>
      <%= link_to t('edit'), edit_entry_path(@entry), :class => "button" if can?(:edit, @entry)  %>
    </li>
    <% (@entry.permitted_events - [:store]).each do |kind| %>
      <li class="<%= kind %>">
        <%= render :partial => 'events/form', :locals => {:event => Event.new(:entry => @entry, :kind => kind)} %>
      </li>
    <% end %>
    <li class="clear_left">
      <%= render_statistic @entry %>
      <%= link_to "история изменений", "#", :class => "entry_history" if @entry.events.count > 1 %>
    </li>
  </ul>
</div>

