<ul class="issues">
  <% entry.issues.each do |issue| %>
    <li class='<%= issue.state %>'>

      <div class='title'>
        <%= issue.description %>
        <span class="time_ago"><%= time_ago_in_words(issue.created_at) %> назад</span>
      </div>

      <% if issue.executor %>
        <div class="executor">
          <%= issue.executor %>
        </div>
      <% end %>

      <% if issue.comment %>
        <div class="comment">
          <%= issue.comment %>
        </div>
      <% end %>

      <%= render :partial => 'tasks/actions', :locals => { :task => issue } %>

      <% if issue.subtasks.any? %>
        <div>
          <a href='#' class='add_subtask' id='issue_<%= issue.id %>'>Добавить подзадачу</a>
          <ul class="subtasks">
            <% issue.subtasks.each do | subtask | %>
              <%= render subtask %>
            <% end %>
          </ul>
        </div>
      <% end %>

    </li>
  <% end %>
</ul>
