<% content_for :extend_javascript do %>
  <%= javascript_include_tag "jquery.ui.min" %>
  <%= javascript_include_tag "jquery.ui.datepicker.ru" %>
  <%= javascript_include_tag "jquery.ui.timepicker" %>
  <%= javascript_include_tag "jquery.ui.timepicker.ru" %>
  <%= javascript_include_tag "ckeditor/ckeditor_source" %>
  <%= javascript_include_tag "jquery.tipsy" %>
  <%= javascript_include_tag "jquery.iframe.transport" %>
  <%= javascript_include_tag "jquery.fileupload" %>
<% end %>

<div class="entry_fields_wrapper">

  <%= semantic_form_for @entry do |form| %>
    <%= form.inputs :class => "inputs common_fields" do %>
      <%= form.input :title, :as => :string, :input_html => { :class => "focus_first" } %>
      <%= form.input :annotation, :as => :ckeditor %>
      <%#= form.input :body, :as => :ckeditor %>
    <% end %>
    <%= form.inputs :class => "inputs additional_fields" do %>
      <%= form.input :since, :label => "Указать определённую дату и время публикации новости" %>
      <%= form.input :until, :label => "Указать определённую дату и время перемещения новости в архив" %>
      <%= form.input :channels, :as => :check_boxes, :collection => Channel.all.to_a,
        :label => "Указать на каких сайтах и в каких разделах будет отображаться опубликованная новость" %>
    <% end %>
    <%= form.buttons %>
  <% end %>
  <div class="two_column">
    <div class="first">
      <%= render :partial => "assets/assets" %>
    </div>
    <div class="second">
      <fieldset class="forgery_additional_fields">
        <legend><span>Дополнительно</span></legend>
      </fieldset>
    </div>

  </div>

  <%= render_statistic @entry %>
</div>

