<% content_for :extend_javascript do %>
  <%= javascript_include_tag "jquery.ui.min" %>
  <%#= javascript_include_tag "jquery.ui.datepicker.ru" %>
  <%#= javascript_include_tag "jquery.ui.timepicker" %>
  <%#= javascript_include_tag "jquery.ui.timepicker.ru" %>
  <%= javascript_include_tag "ckeditor/ckeditor" %>
  <%#= javascript_include_tag "jquery.tipsy" %>
  <%= javascript_include_tag "jquery.iframe.transport" %>
  <%= javascript_include_tag "jquery.fileupload" %>
<% end %>

<div class="content_wrapper with_sidebar">
  <div class="article">

    <%= semantic_form_for @entry do |form| %>

      <div class="top_stuff">
        <div>
          <span>Опубликовать</span>
          <ol class="hidden">
            <%= form.input :since, :label => false %>
          </ol>
        </div>

        <div>
          <span>Переместить в архив</span>
          <ol class="hidden">
            <%= form.input :until, :label => false %>
          </ol>
        </div>

        <div>
          <span>Каналы</span>
          <ol class="hidden">
            <%= form.input :channels, :as => :check_boxes, :collection => Channel.all.to_a, :label => false %>
          </ol>
        </div>
      </div>

      <%= form.inputs :class => "inputs common_fields" do %>
        <%= form.input :title, :as => :string, :input_html => { :class => "focus_first" } %>
        <%= form.input :annotation, :as => :ckeditor, :input_html => { :height => 100 } %>
        <%= form.input :body, :as => :ckeditor %>
      <% end %>

      <%= form.buttons :class => "buttons hidden" do %>
        <%= form.commit_button %>
      <% end %>

    <% end %>
  </div>

</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">

    <div class="top_border"></div>

    <%= link_to t('save_entry'), "#", :class => 'button positive_button', :id => "commit_form_entry" %>
    <%= semantic_form_for @entry, :url => unlock_entry_path(@entry), :html => {:method => :post} do | form | %>
      <%= form.buttons :class => "buttons" do %>
        <%= form.commit_button t('cancel') %>
      <% end %>
    <% end %>

    <ul class="tabs">
      <li class='assets active'><a href='#' id='issues'>Вложения</a></li>
      <li class='upload_asset'><a id="file_upload_link" href='#'>Добавить вложение</a></li>
    </ul>
    <div class="under_tabs"></div>
    <%= render :partial => "assets/assets" %>
  </div>
<% end %>

