<% content_for :extend_javascript do %>
  <%= javascript_include_tag "jquery.ui.min" %>
  <%= javascript_include_tag "jquery.ui.datepicker.ru" %>
  <%= javascript_include_tag "jquery.ui.timepicker" %>
  <%= javascript_include_tag "jquery.ui.timepicker.ru" %>
  <%= javascript_include_tag "redactor/jquery.redactor" %>
  <%= javascript_include_tag "jquery.tipsy" %>
  <%= javascript_include_tag "jquery.iframe.transport" %>
  <%= javascript_include_tag "jquery.fileupload" %>
<% end %>

<div class="entry_fields_wrapper">
  <%= render :partial => "edit_actions", :locals => { :position => "top" } %>

  <%= semantic_form_for @entry do |form| %>
    <%= form.inputs do %>
      <%= form.input :title, :as => :string, :input_html => { :class => "focus_first" } %>
      <%= form.input :annotation %>
      <%= form.input :body %>
      <%= form.input :since %>
      <%= form.input :until %>
      <%= form.input :channels, :as => :check_boxes, :collection => Channel.all.to_a %>
    <% end %>
  <% end %>

  <%= render :partial => "assets/assets" %>

  <%= render :partial => "edit_actions", :locals => { :position => "bottom" } %>
</div>

