<% if @entries.any? %>
  <% @entries.each do |state, entries|%>
    <%= content_tag :h4, state, :class => state %>
    <ul>
      <% entries.each do | entry |%>
        <li>
          <% last_event = entry.events.last %>
          <%= l last_event.created_at, :format => :long %>
          <%= link_to strip_tags(entry.title_or_body), entry %>
          <%= last_event.type %>
          <%= "by #{last_event.user}" %>
        </li>
      <% end%>
    </ul>
  <% end%>
<% else %>
  <%= content_tag :h4, t('no_any_entries'), :class => 'empty' %>
<% end %>

