<% content_for :extend_javascript do %>
  <%= javascript_include_tag "jquery.ui.min" %>
  <%= javascript_include_tag "jquery.ui.datepicker.ru" %>
<% end %>

<%= semantic_search_form_for :entry, :url => entries_path do | form | %>
  <%= form.inputs do %>
    <%= form.input :keywords %>
    <%= form.input :channel_ids, :as => :select, :collection => Channel.all %>
    <%= form.input :order_by %>
    <%= form.input :since_lt, :as => :date %>
    <%= form.input :since_gt, :as => :date %>
    <%= form.input :until_lt, :as => :date %>
    <%= form.input :until_gt, :as => :date %>
  <% end %>
  <%= form.buttons %>
<% end %>

<% if collection.any? %>
  <div class="last_entry_list">
    <ul>
      <li>
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          В Томской области проверено более 13 тысяч объектов пребывания, проживания и трудовой деятельности иностранных граждан &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state draft">Черновик</div>
          <div class="author">Иванов И. И.</div>
          <div class="time_ago">3 часа назад</div>
        </div>
      </li>
      <li class="selected">
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          В «Губернской аптеке» работает консультативный центр &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state correcting">Корректура</div>
          <div class="author">Петров П. П.</div>
          <div class="time_ago">18 минут назад</div>
        </div>
      </li>
      <li>
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          Открытое первенство работников лесного хозяйства пройдет в Томской области &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state publishing">Публикация</div>
          <div class="author">Сидоров С. С.</div>
          <div class="time_ago">40 минут назад</div>
        </div>
      </li>
      <li>
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state published">Опубликован</div>
          <div class="author">Михайлов М. М.</div>
          <div class="time_ago">10 минут назад</div>
        </div>
      </li>
      <li>
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state published">Опубликован</div>
          <div class="author">Михайлов М. М.</div>
          <div class="time_ago">10 минут назад</div>
        </div>
      </li>
      <li>
        <a class="more" href="#">Подробнее</a>
        <div class="title">
          13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
          <span class="annotate">Вопросы противодействия незаконной миграции обсудили&hellip;</span>
          <a class="view" href="#">подробнее...</a>
        </div>
        <div class="details">
          <div class="entry_state published">Опубликован</div>
          <div class="author">Михайлов М. М.</div>
          <div class="time_ago">10 минут назад</div>
        </div>
      </li>
    </ul>
  </div>
<% else %>
  <h1><%= t('no_any_entries') %></h1>
<% end %>

