<% if collection.any? %>
  <div class="list">
    <% collection.each do | entry | %>
      <div class="task">
        <div class="line">
          <div class="time_ago"><%= time_ago_in_words(entry.created_at) %> назад</div>
          <div class="title">
            <%= link_to composed_title(entry), entry_path(entry), :class => "entry_state #{entry.state}" %>
            <span class="task_state <%= entry.state %>"><%= I18n.t "state_machine.entry.state.#{entry.state}" %></span>
            <span class="initiator"><%= entry.initiator %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2><%= t('no_any_entries') %></h2>
<% end %>
