<% if @entries.any? %>
  <% @entries.each do |entry|%>
    <ul class='entries'>
      <li>
        <% last_event = entry.events.last %>
        <%= l last_event.created_at, :format => :long %>
        <%= link_to strip_tags(entry.title_or_body.gsub('&quot;', '"').gilensize), folder_entry_path(@folder.title, entry) %>
        <%= t "event.type.after.#{last_event.type}" %>
        <%= "#{last_event.user}" %>
        <%= content_tag :span, last_event.text.truncate(150), :class => 'text' if last_event.text.present? %>
      </li>
    </ul>
  <% end%>
<% else %>
  <%= content_tag :h4, t('no_any_entries'), :class => 'empty' %>
<% end %>

