<% if collection.any? %>
  <ul class='item_list'>
    <% collection.each do | entry | %>
      <li>
        <div class="time_ago">
          <%= l entry.since, :format => :long %>
        </div>
        <div class="title">
          <%= link_to entry.title, entry_path(entry) %>
        </div>
        <%= image_for entry.images.first, :width => 100, :height => 100 if entry.images.any? %>
        <%= small_youtube_thumbnail(entry.youtube_code) if entry.is_a? YoutubeEntry %>
        <div class="annotation">
          <%= raw entry.annotation %>
        </div>

      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
<% else %>
  <h2 class='empty'><%= t('no_any_entries') %></h2>
<% end %>
