<%= link_to t(:new_entry), new_entry_path %>

<% @entries.each do |entry| %>
    <td><%= entry.title %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

