<p id="notice"><%= notice %></p>

<div class="show_entry">
<h1><%= @entry.title %></h1>
<%= raw @entry.annotation %>
<%= raw @entry.body %>
</div>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

