<div class="content_wrapper with_sidebar">
  <div class="article">
    <div class="top_stuff">
      <div>
        <span>Опубликовать</span>
        <%= l @entry.since if @entry.since %>
      </div>

      <div>
        <span>Переместить в архив</span>
        <%= l @entry.until if @entry.until %>
      </div>

      <div>
        <span>Каналы</span>
        <%= @entry.channels.map(&:title).join(', ') %>
      </div>
    </div>

    <%= presented_header @entry %>

    <div class="annotation">
      <%= presented_html @entry, :annotation %>
    </div>

    <div class="body">
      <%= presented_html @entry, :body %>
    </div>
  </div>
</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">

    <% if @entry.locked_by %>
      <div class="lock_info">
        <div class="locked_by">
          <%= @entry.locked_by %>
        </div>

        <div class="time_ago">
          <%= time_ago_in_words(@entry.locked_at) %> назад
        </div>
      </div>
    <% end %>

    <%= link_to t('edit_entry'), edit_entry_path(@entry), :class => 'button edit_button' %>

    <ul class="tabs">
      <li class='active'><a href='#'>Задачи</a></li>
      <li><a href='#'>Лента активности</a></li>
      <li class='notices'><a href='#'>Уведомления</a></li>
    </ul>
    <div class="under_tabs"></div>

    <ul class="issues">
      <% @entry.issues.each do |issue| %>
        <li class='<%= issue.state %>'>

          <a href='#' class='title'>
            <%= issue.class.model_name.human %>
            <span class="time_ago"><%= time_ago_in_words(issue.created_at) %> назад</span>
          </a>

          <% if issue.executor %>
            <div class="executor">
              <%= issue.executor %>
            </div>
          <% end %>

          <% if issue.comment %>
            <div class="comment">
              <%= issue.comment %>
            </div>
          <% end %>

          <%= render :partial => 'tasks/actions', :locals => { :task => issue } %>

        </li>
      <% end %>
    </ul>
  </div>
<% end %>
