<% if task.human_state_events.any? %>
  <div class="actions">
    <% task.human_state_events.each do | event | %>
      <% if can?(event, task) %>

      <%= semantic_form_for :task, :url => fire_event_task_path(task), :html => { :method => :post, :class => "#{event}_form" } do | form | %>
        <%= form.inputs do %>
          <%= form.input :event, :value => event, :as => :hidden %>
          <%= form.input :comment,
            :label => false,
            :input_html => {:class => 'comment_input',
                            :placeholder => t(:comment)} if event == :complete %>
        <% end %>
        <%= form.buttons do %>

          <!-- #TODO remove this stinky code-->
          <% if event != :refuse || @entry.present? %>
            <%= form.commit_button t("state_machine.task.event.#{event}"),
                                   :button_html => { :class => "button #{event}"} if can?(event, task) && task.is_a?(Subtask) %>
          <% end %>

          <%= form.commit_button t("state_machine.task.event.#{event}"),
                                 :button_html => { :class => "button #{event} #{ability_to(event, task)}",
                                                   :disabled => cannot?(event, task) } if task.is_a?(Issue) %>
        <% end %>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button t("state_machine.task.event.#{event}"),
        :button_html => { :class => "button #{event} #{ability_to(event, task)}", :disabled => cannot?(event, task) }   %>
    <% end %>
      <% end %>

    <% if @entry && task.is_a?(Issue) && can?(:create, task.subtasks.build) %>
      <a href='#' class='add_subtask' id='<%= "#{task.class.name.downcase}_#{task.id}" %>'>Добавить подзадачу</a>
    <% end %>
  </div>
<% end %>
