<% if collection.any? %>
  <ul class='item_list'>
    <% collection.each do | task | %>
      <li>
        <div class="title floatl">
          <%= link_to task.class.model_name.human, entry_path(task.entry) %>
        </div>

        <div class="entry_title">
          <%= composed_title(task.entry) %>
        </div>


        <div class="state <%= task.state %>">
          <%= I18n.t "state_machine.task.state.#{task.state}" %>
        </div>

        <div class="participants">
          <%= task.initiator %>
        </div>

        <div class="time_ago">
          <%= time_ago_in_words(task.created_at) %> назад
        </div>

        <%= render :partial => 'actions', :locals => {:task => task} if task.respond_to?(:fresh?) && task.fresh? %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2 class='empty'><%= t('no_any_tasks') %></h2>
<% end %>
