<% content_for :header do %>
  <h1><%= link_to t("News system"), manage_news_root_path %></h1>
  <%= semantic_form_for :entry, :url => manage_news_entries_path(:type => :news_entry) do | form | %>
    <%= form.actions do %>
      <%= form.action :submit, :label => t('new_entry'), :button_html => { :class => "button new_news_entry simple" } %>
    <% end %>
  <% end %>
  <%= semantic_form_for :event_entry, :url => manage_news_entries_path(:type => :event_entry) do | form | %>
    <%= form.actions do %>
      <%= form.action :submit, :label => t('new_event_entry'), :button_html => { :class => "button new_event_entry simple" } %>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <div class='nav'>
      <h5><%= t("sidebar.tasks.title") %></h5>
      <%= render_navigation :context => :tasks, :renderer => :list_with_counters %>

      <h5><%= t("sidebar.entries.title") %></h5>
      <%= render_navigation :context => :entries, :renderer => :list_with_counters %>

      <h5><%= t("sidebar.archive.title") %></h5>
      <%= render_navigation :context => :archive %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class='section'>
    <div class='article'>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>
