<% content_for :header do %>
  <h1><%= link_to t("News system"), manage_news_root_path %></h1>

  <% Channel.enums[:entry_type].each do |entry_type| %>
    <% if can?(:create, entry_type) %>
      <%= semantic_form_for :entry, :url => manage_news_entries_path(:type => entry_type) do | form | %>
        <%= form.actions do %>
          <%= form.action :submit, :label => t("new_#{entry_type}"), :button_html => { :class => "button new_#{entry_type} simple" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <div class='nav'>
      <h5><%= t("sidebar.tasks.title") %></h5>
      <%= render_navigation :context => :tasks, :renderer => :list_with_counters %>

      <h5><%= t("sidebar.entries.title") %></h5>
      <%= render_navigation :context => :entries, :renderer => :list_with_counters %>

      <h5><%= t("sidebar.archive.title") %></h5>
      <%= render_navigation :context => :archive %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class='section'>
    <div class='article'>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>
