<%= link_to t('.add'), new_manage_channel_path, :class => 'button add' %>

<% if collection.any? %>
  <ul class='channel_list'>
    <% Channel.arrange_as_array.each do |channel| %>
      <li class='channel'>
        <%= ('&nbsp;' * channel.depth * 5).html_safe %><%= channel %><%= " (<em>#{channel.human_entry_type}</em>)".html_safe if channel.entry_type? %>
        <% if can?(:manage, channel) %>
          <%= link_to t('commons.delete'), manage_channel_path(channel), :method => :delete, :data => {:confirm => t('commons.confirm')} %>
          <%= link_to t('commons.edit'), edit_manage_channel_path(channel) %>
          <%= link_to 'Синхронизировать', sync_manage_channel_path(channel) if channel.entry_type == 'youtube_entry' && channel.channel_code? %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
  <%= link_to t('.add'), new_manage_channel_path, :class => 'button add' %>
<% else %>
  <h2 class='empty'><%= t('.empty_list') %></h2>
<% end %>
