<%= semantic_form_for @subtask, :url => manage_news_issue_subtasks_path(parent), :remote => true do |form| %>
  <%= form.inputs do %>
    <%= form.input :executor, :label => false, :collection => @subtask.executors_without_initiator %>
    <%= form.input :description, :label => false %>
  <% end %>
  <%= form.actions :class => "buttons" do %>
    <%= form.action :submit, :label => t('add'), :wrapper_html => { :class => "commit" }, :button_html => { :class => "button add" } %>
    <li>
      <a href='#' class='cancel_link'>Отменить</a>
    </li>
  <% end %>
<% end %>
