<%= content_tag(:div, :id => dom_id(video),
                :class => "gal-item",
                :"data-url" => asset_path(video, video.file_name)) do %>
  <%= link_to image_tag("/javascripts/ckeditor/filebrowser/images/gal_del.png", :title => I18n.t('ckeditor.buttons.delete')),
          entry_asset_path(@entry, video),
          :remote => true,
          :method => :delete,
          :confirm => t('ckeditor.confirm_delete'),
          :class => "fileupload-cancel gal-del" %>
  <div class="fileupload-file gal-inner-holder">
    <div class="img"><%=  image_tag "mimetypes/icon_application_video.png", :alt => "", :size => "100x100" %></div>
    <div class="img-data">
      <div class="img-name"><%= video.file_name %></div>
      <div class="time-size">
        <div class="time"><%= l video.created_at %></div>
        <div class="fileupload-size size"><%= number_to_human_size(video.file.size) %></div>
      </div>
      <div class="time-remove">
        <%= link_to "удалить", entry_asset_path(@entry, video),
                    :remote => true, :method => :delete,
                    :confirm => t('ckeditor.confirm_delete'),
                    :class => "remove", :title => "удалить" %>
      </div>
    </div>
  </div>
<% end %>

