<div class="content_wrapper with_sidebar">
  <div class="article">

    <%= semantic_form_for @entry do |form| %>

      <div class="top_stuff">
        <div>
          <span>Опубликовать</span>
          <ol>
            <%= form.input :since, :label => false, :as => :datetime_picker %>
          </ol>
        </div>
        <div>
          <span>Переместить в архив</span>
          <ol>
            <%= form.input :until, :label => false, :as => :datetime_picker %>
          </ol>
        </div>
        <div>
          <span>Каналы</span>
          <ol>
            <%= form.input :channels, :as => :check_boxes, :collection => Channel.all.to_a, :label => false %>
          </ol>
        </div>
      </div>

      <%= javascript_include_tag "esp-ckeditor/application" %>

      <%= form.inputs :class => "inputs common_fields" do %>
        <%= form.input :title, :as => :string, :input_html => { :class => "focus_first" } %>
        <%= form.input :annotation, :as => :ckeditor, :input_html => { :height => 100 } %>
        <%= form.input :body, :as => :ckeditor %>
      <% end %>

      <%= form.buttons :class => "buttons hidden" do %>
        <%= form.commit_button %>
      <% end %>

    <% end %>
  </div>

</div>

<% content_for :right_sidebar do %>
  <div class="side_stuff">

    <div class="top_border"></div>

    <%= link_to t('save_entry'), "#", :class => 'button positive_button', :id => "commit_form_entry" %>
    <%= link_to t('cancel'), @entry, :class => 'button cancel', :id => "cancel_form_entry" %>

    <%= semantic_form_for @entry, :url => unlock_manage_entry_path(@entry), :html => { :method => :post, :class => "hidden" } do | form | %>
      <%= form.buttons :class => "buttons" do %>
        <%= form.commit_button t('cancel') %>
      <% end %>
    <% end %>
  </div>
<% end %>

