<%= content_tag(:div, :id => dom_id(attachment),
                :class => "gal-item",
                :"data-url" => asset_path(attachment, attachment.file_name)) do %>
  <%= link_to image_tag("/javascripts/ckeditor/filebrowser/images/gal_del.png", :title => I18n.t('ckeditor.buttons.delete')),
          entry_asset_path(@entry, attachment),
          :remote => true,
          :method => :delete,
          :confirm => t('ckeditor.confirm_delete'),
          :class => "fileupload-cancel gal-del" %>
  <div class="fileupload-file gal-inner-holder">
    <div class="img">
      <%= link_to image_tag("mimetypes/icon_application_attach.png", :alt => "", :size => "100x100"), asset_path(attachment, attachment.file_name) %>
    </div>
    <div class="img-data">
      <div class="img-name"><%= link_to attachment.file_name, asset_path(attachment, attachment.file_name) %></div>
      <div class="time-size">
        <div class="time"><%= l attachment.created_at %></div>
        <div class="fileupload-size size"><%= number_to_human_size(attachment.file.size) %></div>
      </div>
      <div class="time-remove">
        <%= link_to "удалить", entry_asset_path(@entry, attachment),
                    :remote => true, :method => :delete,
                    :confirm => t('ckeditor.confirm_delete'),
                    :class => "remove", :title => "удалить" %>
      </div>
    </div>
  </div>
<% end %>

