<%= link_to t('.add'), new_manage_channels_channel_path, :class => 'button add' %>

<% if collection.any? %>
  <ul class='channel_list'>
    <% collection.each do |context| %>
      <li class='context'>
        <%= context %>
        <ul>
          <% context.channels.each do |channel| %>
            <li class='channel'>
              <%= '&nbsp;'.html_safe * channel.depth * 2 %> <%= channel %>
              <%= link_to t('commons.delete'), manage_channels_channel_path(channel), :method => :delete, :confirm => t('commons.confirm'), :class => 'button delete simple' %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= paginate collection %>
<% else %>
  <h2 class='empty'><%= t('.empty_list') %></h2>
<% end %>
