<%= content_for :header do %>
  <%= link_to t(:to_task_list), tasks_path(:fresh), :class => 'back_to_list' %>
  <div class='state <%= @entry.state %>'>
    <%= I18n.t "state_machine.entry.state.#{@entry.state}" %>
  </div>

  <div class="composed_title">
    <%= composed_title(@entry) %>
  </div>
<% end  %>

<%= content_for :content do %>
  <%= yield %>
<% end %>

<%= render :template => 'layouts/layer' %>
