<p>
  <%= t('version_at') %>
  <%= l(@version.created_at, :format => :long) %>
</p>

<%= render :partial => 'entries/entry' %>

<%= render_attribute_values @entry, :unserialized_assets %>

<p>
  <%= link_to t('last_version'), [@folder, @entry] %>
</p>
