<%= content_for :header do %>
  <%= link_to t(:to_entries_list), entries_path, :class => 'back_to_list' %>

  <div class="composed_title">
    <%= composed_title(@entry) %>
  </div>

  <% if current_user && (current_user.publisher_of?(@entry) || current_user.is_administrator?) %>
    <%= link_to "Управление новостью", manage_news_entry_path(@entry), :class => "button to_manage" %>
  <% end %>
<% end  %>

<%= content_for :content do %>
  <%= yield %>
<% end %>

<%= render :template => 'layouts/layer' %>
