<%= content_for :header do %>
  <%= link_to t(:to_entries_list), public_entries_path, :class => 'back_to_list' %>
  <div class='state <%= @entry.state %>'>
    <%= I18n.t "state_machine.entry.state.#{@entry.state}" %>
  </div>

  <div class="composed_title">
    <%= composed_title(@entry) %>
  </div>

  <% if current_user %>
    <%= link_to "Управление новостью", entry_path(@entry), :class => "button to_manage" %>
  <% end %>
<% end  %>

<%= content_for :content do %>
  <%= yield %>
<% end %>

<%= render :template => 'layouts/layer' %>
