<% content_for :header do %>
  <h1><%= link_to t("News system"), manage_news_root_path %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <div class="nav">
      <h5><%= t("sidebar.archive.title") %></h5>
      <%= semantic_search_form_for :entry, :url => entries_path do | form | %>
        <%= form.inputs do %>
          <%= form.input :keywords, :as => :string %>
          <%= form.input :channel_ids,
                          :as => :select,
                          :multiple => true,
                          :collection => Channel.all,
                          :member_label => ->(c) { ("&nbsp;" * c.ancestry_depth * 2).html_safe + c.title},
                          :disabled => Channel.without_entries.pluck(:id)
                        %>
          <%= form.input :order_by, :required => false, :include_blank => false, :as => :select, :collection => {'по дате публикации' => 'since desc' } %>
        <% end %>
        <%= form.inputs :since_details, :class => "inputs bordered" do %>
          <%= form.input :since_gt, :as => :date_picker %>
          <%= form.input :since_lt, :as => :date_picker %>
        <% end %>
        <%= form.buttons do %>
          <%= form.commit_button :button_html => { :class => "button search" } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class='section'>
    <div class='article'>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>
