<h2><%= t("Change your password") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
             :html => { :method => :put, :class => "formtastic user_new" }) do |f| %>
  <%= devise_error_messages! %>
  <ul class="inputs">
    <li><%= f.hidden_field :reset_password_token %></li>

    <li class="password">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "focus_first" %>
    </li>
    <li class="password_confirmation password">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
  </ul>
  <ul class="buttons inline">
    <li>
      <%= f.submit t("Change my password"), :class => "button" %>
    </li>
    <li class="auth_links">
      <%= render :partial => "users/shared/links" %>
    </li>
  </ul>
<% end %>

