<h1><%= t("Forgot your password?") %></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
             :html => { :method => :post, :class => "formtastic remember_password" }) do |f| %>
  <%= devise_error_messages! %>
  <ul class="inputs">
    <li class="email string">
      <%= f.label :email %>
      <%= f.email_field :email, :class => "focus_first" %>
    </li>
  <ul>
  <ul class="buttons">
    <li>
      <%= f.submit t("Send me reset password instructions"), :class => "button" %>
    </li>
  </ul>
<% end %>
<p class="auth_links"><%= render :partial => "users/shared/links" %></p>

