<%= content_tag(:div, :id => dom_id(image),
                :class => "gal-item",
                :"data-url" => image_path(image, image.file_width, image.file_height, image.file_name),
                :"data-alt" => image.description) do %>
  <%= link_to image_tag("/javascripts/ckeditor/filebrowser/images/gal_del.png", :title => I18n.t('ckeditor.buttons.delete')),
          entry_asset_path(@entry, image),
          :remote => true,
          :method => :delete,
          :confirm => t('ckeditor.confirm_delete'),
          :class => "fileupload-cancel gal-del" %>
  <div class="fileupload-file gal-inner-holder">
    <div class="img"><%=  image_tag cropped_image_path(image, image.file_name), :alt => "", :size => "118x100" %></div>
    <div class="img-data">
      <div class="img-name"><%= image.file_name %></div>
      <div class="time-size">
        <div class="time"><%= l image.created_at %></div>
        <div class="fileupload-size size"><%= number_to_human_size(image.file.size) %></div>
      </div>
    </div>
  </div>
<% end %>

