<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--[if IE 6]>
  <%= stylesheet_link_tag "ie6" %>
  <![endif]-->
  <!--[if IE 7]>
  <%= stylesheet_link_tag "ie7" %>
  <![endif]-->
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>

