<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title><%= t("News system") %></title>
    <meta charset="UTF-8">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "screen" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= yield :extend_javascript %>
    <%= javascript_include_tag "jquery.ujs" %>
    <%= javascript_include_tag "application" %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="flash_wrapper" style='display:none;'>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_block" %>
      </div>
    <% end %>

    <%= yield :right_sidebar %>

    <div class="main_container">
      <%= yield :main %>
    </div>

    <%= yield :sidebar %>

    <div class='footer'>
      <% if current_user %>
        <div class="login_info">
          <%= current_user.name %>
          <%= "[#{current_user.human_roles.join(', ')}]" if current_user.roles %>
          <%= link_to t("logout"), destroy_user_session_path, :method => :delete %>
        </div>
      <% end %>
    </div>
  </body>
</html>

