<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title><%= t("News system") %></title>
    <meta charset="UTF-8">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "screen" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= yield :extend_javascript %>
    <%= javascript_include_tag "jquery.ujs" %>
    <%= javascript_include_tag "application" %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id="flash_wrapper">
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_block" %>
      </div>
    <% end %>
    <div class="header">
      <h1><%= link_to t("News system"), root_path %></h1>
      <div class="login_info">
        <% if current_user %>
          <%= current_user.name %>
          <%= "[#{current_user.roles.join(', ')}]" if current_user.roles %>
          <%= link_to t("logout"), destroy_user_session_path, :method => :delete %>
        <% end %>
        <%= link_to t("login"), new_user_session_path unless current_user %>
      </div>
    </div>
    <div class="container">
      <div class="right_sidebar">
        Правая колонка
      </div>
      <div class="left_sidebar">
        <%= semantic_form_for :entry, :url => entries_path do | form | %>
          <%= form.buttons do %>
            <%= form.commit_button t('new_entry'), :button_html => { :class => "button" } %>
          <% end %>
        <% end %>
        <div class="notifications"><%= link_to(t("sidebar.notifications"), "#") %></a></div>
        <div class="issues">
          <h1><%= t("sidebar.issues") %></h1>
          <ul>
            <li><%= link_to(t("sidebar.new_issues"), "#") %></li>
            <li><%= link_to(t("sidebar.my_issues"), "#") %></li>
            <li><%= link_to(t("sidebar.other_issues"), "#") %></li>
          </ul>
        </div>
        <div class="enties">
          <h1><%= t("sidebar.entries") %></h1>
          <ul>
            <li class="selected">
              <%= link_to(t("sidebar.draft"), "#") %>
              <span class="counter">10</span>
            </li>
            <li><%= link_to(t("sidebar.in_process"), "#") %></li>
            <li><%= link_to(t("sidebar.trash"), "#") %></li>
          </ul>
        </div>
        <div class="archive">
          <h1><%= t("sidebar.archive") %></h1>
          <ul>
            <li><%= link_to(t("sidebar.day"), "#") %></li>
            <li><%= link_to(t("sidebar.week"), "#") %></li>
            <li><%= link_to(t("sidebar.month"), "#") %></li>
            <li><%= link_to(t("sidebar.search"), "#t") %></li>
          </ul>
        </div>
      </div>
      <div class='content'>
        <%#= yield %>
        <ul class="entry_filter">
          <li class="selected"><a href="#">Все</a></li>
          <li><a href="#">Корректура</a></li>
          <li><a href="#">Публикация</a></li>
        </ul>
        <div class="last_entry_list">
          <ul>
          	<li>
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                В Томской области проверено более 13 тысяч объектов пребывания, проживания и трудовой деятельности иностранных граждан &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state draft">Черновик</div>
                <div class="author">Иванов И. И.</div>
                <div class="time_ago">3 часа назад</div>
              </div>
            </li>
            <li class="selected">
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                В «Губернской аптеке» работает консультативный центр &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state correcting">Корректура</div>
                <div class="author">Петров П. П.</div>
                <div class="time_ago">18 минут назад</div>
              </div>
            </li>
            <li>
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                Открытое первенство работников лесного хозяйства пройдет в Томской области &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state publishing">Публикация</div>
                <div class="author">Сидоров С. С.</div>
                <div class="time_ago">40 минут назад</div>
              </div>
            </li>
            <li>
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state published">Опубликован</div>
                <div class="author">Михайлов М. М.</div>
                <div class="time_ago">10 минут назад</div>
              </div>
          	</li>
            <li>
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state published">Опубликован</div>
                <div class="author">Михайлов М. М.</div>
                <div class="time_ago">10 минут назад</div>
              </div>
          	</li>
            <li>
              <a class="more" href="#">Подробнее</a>
              <div class="title">
                13 сентября Томскую область посетит глава Росатома Сергей Кириенко &ndash;
                <span>Вопросы противодействия незаконной миграции обсудили&hellip;</span>
              </div>
              <div class="details">
                <div class="entry_state published">Опубликован</div>
                <div class="author">Михайлов М. М.</div>
                <div class="time_ago">10 минут назад</div>
              </div>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="float_right">
        Сделано с любовью в <a target="_blank" href="http://www.openteam.ru">OpenTeam</a>.
        Если случилась беда &mdash; <a target="_blank" href="http://issues.openteam.ru/projects/esp-news/issues/new">сообщите об ошибке</a>
      </p>
      <p class="float_left">Система публикации новостей, версия 1.0</p>
    </div>
  </body>
</html>
