<!DOCTYPE html>
<html>
<head>
<title>News</title>
<%= csrf_meta_tag %>
<%= stylesheet_link_tag "formtastic" %>
<!--[if IE 6]>
<%= stylesheet_link_tag "formtastic_ie6" %>
<![endif]-->
<!--[if IE 7]>
<%= stylesheet_link_tag "formtastic_ie7" %>
<![endif]-->
<%= stylesheet_link_tag "scaffold" %>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery_ujs" %>
<%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>

