<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= t("News system") %></title>
    <meta charset="UTF-8">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => "esp_permissions/shared/header" %>
    <% flash.each do |name, msg| %>
      <div class="flash_wrapper" style='display:none;'>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_block" %>
        <a href='#' class='close_link'>Закрыть</a>
      </div>
    <% end %>

    <%= yield :right_sidebar %>

    <div class="main_container">
      <%= yield :main %>
    </div>

    <%= yield :sidebar %>
    <%= render :partial => "esp_permissions/shared/footer" %>
  </body>
</html>

