<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title><%= t("News system") %></title>
    <meta charset="UTF-8">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "screen" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= yield :extend_javascript %>
    <%= javascript_include_tag "jquery.ujs" %>
    <%= javascript_include_tag "application" %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id="flash_wrapper">
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_block" %>
      </div>
    <% end %>
    <div class="header">
      <h1><%= link_to t("News system"), root_path %></h1>
      <div class="login_info">
        <% if current_user %>
          <%= current_user.name %>
          <%= "[#{current_user.roles.join(', ')}]" if current_user.roles %>
          <%= link_to t("logout"), destroy_user_session_path, :method => :delete %>
        <% end %>
        <%= link_to t("login"), new_user_session_path unless current_user %>
      </div>
    </div>
    <div class="container">
      <div class="right_sidebar">
        Правая колонка
      </div>
      <div class="left_sidebar">
        <%= semantic_form_for :entry, :url => entries_path do | form | %>
          <%= form.buttons do %>
            <%= form.commit_button t('new_entry'), :button_html => { :class => "button" } %>
          <% end %>
        <% end %>
        <p class="notifications"><%= link_to(t("sidebar.notifications"), "#") %></a></p>
        <div class="issues">
          <h1><%= t("sidebar.issues") %></h1>
          <ul>
            <li><%= link_to(t("sidebar.new_issues"), "#") %></li>
            <li><%= link_to(t("sidebar.my_issues"), "#") %></li>
            <li><%= link_to(t("sidebar.other_issues"), "#") %></li>
          </ul>
        </div>
        <div class="enties">
          <h1><%= t("sidebar.entries") %></h1>
          <ul>
            <li class="selected">
              <%= link_to(t("sidebar.draft"), "#") %>
              <span class="counter">10</span>
            </li>
            <li><%= link_to(t("sidebar.in_process"), "#") %></li>
            <li><%= link_to(t("sidebar.trash"), "#") %></li>
          </ul>
        </div>
        <div class="archive">
          <h1><%= t("sidebar.archive") %></h1>
          <ul>
            <li><%= link_to(t("sidebar.day"), "#") %></li>
            <li><%= link_to(t("sidebar.week"), "#") %></li>
            <li><%= link_to(t("sidebar.month"), "#") %></li>
            <li><%= link_to(t("sidebar.search"), "#t") %></li>
          </ul>
        </div>
      </div>
      <div class='content'>
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <p>Система публикации новостей, версия 1.0</p>
      <p>
        Сделано с любовью в <a target="_blank" href="http://www.openteam.ru">OpenTeam</a>.
        Если случилась беда &mdash; <a target="_blank" href="http://issues.openteam.ru/projects/esp-news/issues/new">сообщите об ошибке</a>
      </p>
    </div>
  </body>
</html>
