<%= content_for :content do %>
  <%= flash[:notice] %>
  <div class='login_info'>
    <%= current_user.name if current_user %>
    <%= link_to t('logout'), destroy_user_session_path, :method => :delete if current_user %>
  </div>
  <div class='container'>
    <div class='sidebar'>
      <%= link_to t('new_entry'), new_folder_entry_path(Folder.where(:title => 'draft').first), :class => 'new_entry' %>
      <%= render_navigation %>
    </div>
    <div class='content_wrapper'>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/application' %>
