<h1><%= t("Sign up") %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
             :html => { :class => "formtastic sign_up" }) do |f| %>
  <%= devise_error_messages! %>
  <ul class="inputs">
    <li class="name string">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "focus_first" %>
    </li>
    <li class="email string">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li class="password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li class="password_confirmation password">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
  </ul>
  <ul class="buttons">
    <li>
      <%= f.submit t("sign up"), :class => "button" %>
    </li>
  </ul>
<% end %>
<p class="auth_links"><%= render :partial => "users/shared/links" %></p>

